<div class="neo-widget widget--widget-voice DEWA-widget-body-container voice-widget">

    <div class="neo-widget__header aoc-home widget-header">
        <img class="widget-logo" src="{{widgetHostedURLDEWA}}widget-voice/images/logo.png" alt="DEWA" title="DEWA" />
        <div class="crm-min-max-btn hide">
            <p class="crm-maxbtn" ng-click="btnVoiceMaximizeCRM();"><img
                    src="{{widgetHostedURLDEWA}}widget-voice/images/crm-maximize-icon.png" alt="Maximize"
                    title="Maximize" />Maximize</p>
            <p class="crm-minbtn hide" ng-click="btnVoiceMinimizeCRM(this);"><img
                    src="{{widgetHostedURLDEWA}}widget-voice/images/crm-minimize-icon.png" alt="Minimize"
                    title="Minimize" />Minimize</p>
        </div>
    </div>

    <div class="neo-widget__content neo-widget__content--indented widget-body">
        <div class="widget-body-container">
            <div class="crm-widget-iframe-container">

                <object class="crm-widget-iframe" width="500" height="200" id="ifameCRMURL"></object>
            </div>
        </div>
    </div>

    <div class="Dewa-widget-popup-report-container">
        <div class="widget-popup-report-inner-container">
            <div class="widget-report-header">

                <img class="widget-header-icon" src="{{widgetHostedURLDEWA}}widget-voice/images/voice-icon.png" alt=""
                    title="" />
                <h3 class="widget-h3-head">{{getSIPNumber(objInteraction.originatingAddress)}}</h3>
                <div class="widget-notfication-icon">
                    <img src="{{widgetHostedURLDEWA}}widget-voice/images/notify-bell-icon.png" alt="" title="" />
                    <span class="widget-notfiy-icon-count">!</span>
                    <div class="widget-notfiy-icon-msg notification-top">
                        <h4 class="attribute-head">{{getSIPNumber(objInteraction.originatingAddress)}}</h4>
                        <table class="widget-report-table-container widget-table1">
                            <thead>
                                <tr>
                                    <th>{{lang[widgetLanguage].LABELCSNotificationKey}}</th>
                                    <th>{{lang[widgetLanguage].LABELCSNotificationValue}}</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyCsNotificationHeader">
                                <tr ng-repeat="(key, value)  in objCsNotification">
                                    <td>{{key}}</td>
                                    <td>{{value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <img class="widget-min-btn" src="{{widgetHostedURLDEWA}}widget-voice/images/tab-minimize-icon.png"
                    alt="" title="" ng-click="btnMinimizeCustomPanel(this);" />
            </div>

            <label id="lblStatus"
                style="width: 94%; display:none; text-align: center; color: red; font-size:20px;"></label>


            <div class="widget-report-body clear-float">
                <div class="widget-report-body-left">
                    <div class="widget-report-tab-container" id="VoiceWidgetReportTab__{{interactionID}}">

                        <ul class="widget-report-tab-header">
                            <li id="tabCustomerDetails" class="widget-tab-switcher widget-tabhead-active"
                                data-tab-index="0" tabindex="0">
                                {{lang[widgetLanguage].LABELCustomerDetails}}
                            </li>
                            <li id="tabIVRMenuSequences" ng-hide="isIVR199" class="widget-tab-switcher"
                                data-tab-index="2" tabindex="0">
                                {{lang[widgetLanguage].LABELIVRMenuSequences}}<!--IVR Menu Sequences-->
                            </li>
                            <li id="tabEnableEmailSMS" ng-hide="isIVR199" class="widget-tab-switcher" data-tab-index="3"
                                tabindex="0">
                                {{lang[widgetLanguage].LABELEnableEmailSMS}}<!--Enable Email/SMS-->
                            </li>
                            <li id="tabRecentCallNotes" class="widget-tab-switcher" data-tab-index="4" tabindex="0">
                                {{lang[widgetLanguage].LABELRecentCallNotes}} <!--Recent Call Notes-->
                            </li>
                        </ul>

                        <div id="ReportTabBody_{{interactionID}}" class="widget-report-tab-body">
                            <div class="widget-tab-container widget-tabcontainer-active" data-tab-index="0">
                                <div class="widget-report-container">
                                    <div class="widget-report-inner-container" style="position: relative;">

                                        <div class="progressloader" ng-show="loading"></div>

                                        <table class="widget-report-table-container widget-table1">
                                            <thead>
                                                <tr>
                                                    <th>{{lang[widgetLanguage].LABELCustomerDetailsKey}}</th>
                                                    <th>{{lang[widgetLanguage].LABELCustomerDetailsValue}}</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="m in objCustomerDetails">
                                                <tr>
                                                    <td>{{m.key}}</td>
                                                    <td
                                                        ng-class="m.highlighted=='TRUE' ? 'green-table-bg1' : m.highlighted=='RED'? 'blue-table-bg1' : '' ">
                                                        {{m.value}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="widget-tab-container" data-tab-index="2">
                                <div class="DEWA-report-iframe-container">
                                    <iframe class="DEWA-report-iframe" id="ifameVisitedIVRMenu"></iframe>
                                </div>
                            </div>

                            <!--Enable Disable SMS -->
                            <div class="widget-tab-container" data-tab-index="3">
                                <div class="DEWA-report-iframe-container">
                                    <iframe class="DEWA-report-iframe" id="ifameSmsEmail"></iframe>
                                </div>
                            </div>
                            <!--Recent Call Notes -->
                            <div class="widget-tab-container" data-tab-index="4">
                                <ul class="report-filter filter-row">
                                    <!--<li>
                                        <div class="label-field"><label>{{lang[widgetLanguage].LABELCRecentSearchAccountNumber}}</label></div>
                                        <div class="input-field"><input type="text" id="recentAccountNumber" ng-model="recentAccountNumber" class="DEWA-input-text" /></div>
                                    </li>-->
                                    <li>
                                        <div class="label-field">
                                            <label>{{lang[widgetLanguage].LABELCRecentSearchLastVerifiedMobile}}</label>
                                        </div>
                                        <div class="input-field"><input type="text" id="recentLastVerifiedMobile"
                                                ng-model="recentLastVerifiedMobile" class="DEWA-input-text" /></div>
                                    </li>
                                    <li>
                                        <div class="label-field">
                                            <label>{{lang[widgetLanguage].LABELCRecentSearchCLI}}</label>
                                        </div>
                                        <div class="input-field"><input type="text" id="recentCLI" ng-model="recentCLI"
                                                class="DEWA-input-text" /></div>
                                    </li>
                                    <li>
                                        <div class="label-field">
                                            <label>{{lang[widgetLanguage].LABELReasons}}</label>
                                        </div>
                                        <div class="input-field">
                                            <div class="DEWA-singlselect" id="recent_reasons_dropdownselect">
                                                <input type="text" class="DEWA-input-single-select singleselectbtn"
                                                    placeholder="Select" readonly required />
                                                <i class="clearinput">X</i>
                                                <ul class="singlselect-dropdown dropdown-position-bottom" id="recent_reasons_dropdown">
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="label-field">
                                            <label>{{lang[widgetLanguage].LABELOutcome}}</label>
                                        </div>
                                        <div class="input-field">
                                            <div class="DEWA-singlselect" id="recent_outcome_dropdownselect">
                                                <input type="text" class="DEWA-input-single-select singleselectbtn"
                                                    placeholder="Select" readonly required />
                                                <i class="clearinput">X</i>
                                                <ul class="singlselect-dropdown dropdown-position-bottom" id="recent_outcome_dropdown">
                                                </ul>
                                            </div>

                                        </div>
                                    </li>

                                    <li style="width: 80px;">

                                        <div class="input-field"><button class="DEWA-input-btn green-btn"
                                                ng-click="recentSearch_Click()">{{lang[widgetLanguage].BUTTONRecentSearch}}</button>
                                        </div>
                                    </li>
                                </ul>
                                <div class="widget-report-container">
                                    <div class="widget-report-inner-container" style="overflow: visible;">
                                        <table class="widget-report-table-container widget-table2">
                                            <thead>
                                                <tr>
                                                    <th>Date Time</th>
                                                    <th>Agent ID</th>
                                                    <th>Agent Name</th>
                                                    <th>Category</th>
                                                    <th>Reason</th>
                                                    <th>Outcome</th>
                                                    <th>Notes</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tBodyCallNote">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="widget-report-body-right">
                    <div class="DEWA-callnotes-container voice-widget-callnotes">
                        <div class="DEWA-callaction-head">
                            <h4 class="DEWA-h4-head1">{{lang[widgetLanguage].LABELCallAction}}</h4>
                            <i class="active-logs-btn" ng-hide="isIVR199">i</i>
                            <div class="active-logs-report hide">
                                <div class="active-logs-report-inner-container">
                                    <div class="panel-tab-container">
                                        <ul class="panel-tab-header">
                                            <li class="panel-tab-switcher" id="AccountUsedIVRSwitecher">
                                                {{lang[widgetLanguage].LABELAccountUsedIVR}}<span
                                                    class="tooltip"></span></li>
                                            <li class="panel-tab-switcher panel-tab-switcher-active"
                                                id="IVROperationLogsSwitecher">
                                                {{lang[widgetLanguage].LABELIVROperationLog}}</li>
                                        </ul>
                                        <div class="panel-tab-body-container">
                                            <div class="panel-tab-body panel-tab-body-active" id="IVROperationLogsBody">
                                                <table class="widget-report-table-container widget-table2">
                                                    <thead>
                                                        <tr>
                                                            <th>Date Time</th>
                                                            <th>Customer Calling Number</th>
                                                            <th>Account Number</th>
                                                            <th>Account Associated Number</th>
                                                            <th>Verified Account Number</th>
                                                            <th>Status Description</th>
                                                            <th>Operation Name</th>
                                                            <th>Operation Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tBodyOperationLog">

                                                        <!--<tr  ng-repeat="cust in objOperationLog">
                                                            <td>{{cust.date_time}}</td>
                                                            <td>{{cust.cli}}</td>
                                                            <td>{{cust.account_number}}</td>
                                                            <td>{{cust.account_associated_number}}</td>
                                                            <td>{{cust.verified_account_number}}</td>
                                                            <td>{{cust.status_description}}</td>
                                                            <td>{{cust.operation_name}}</td>
                                                            <td>{{cust.operation_status}}</td>
                                                        </tr>-->
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="panel-tab-body" id="AccountUsedIVRBody">
                                                <table class="widget-report-table-container widget-table2">
                                                    <thead>
                                                        <tr>
                                                            <th>Account Number</th>
                                                            <th>Account Contact</th>
                                                            <th>Customer Calling Number</th>
                                                            <th>TPIN Verified Number</th>
                                                            <th>TPIN Verified</th>
                                                            <th>Update Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tBodyAccountUsed">

                                                        <!--<tr ng-repeat="_obj in accountUsed">

                                                            <td>{{_obj.account_number}}</td>
                                                            <td>{{_obj.account_contact}}</td>
                                                            <td>{{_obj.customer_calling_number}}</td>
                                                            <td>{{_obj.tpin_verified_number}}</td>
                                                            <td>{{_obj.tpin_verified}}</td>
                                                            <td>{{_obj.updated_date}}</td>
                                                        </tr>-->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                        <div class="DEWA-form-container-body" id="dvTransferBody" ng-hide="isIVR199">
                            <ul class="DEWA-form-container ">
                                <li class="hide">
                                    <div class="input-group">
                                        <div class="input-field">
                                            <ul class="input-radio-container transferLanguageradio">
                                                <li><input type="radio" class="DEWA-input-radio" name="transferLanguage"
                                                        id="TransferLanguageAR"
                                                        ng-click="chkTransferLanguageSelect('ARABIC')" checked /><label
                                                        for="TransferLanguageAR"><span>Arabic</span></label></li>
                                                <li><input type="radio" class="DEWA-input-radio" name="transferLanguage"
                                                        id="TransferLanguageEN" ng-checked="true"
                                                        ng-click="chkTransferLanguageSelect('ENGLISH')" /><label
                                                        for="TransferLanguageEN"><span>English</span></label></li>
                                                <li><input type="radio" class="DEWA-input-radio" name="transferLanguage"
                                                        id="TransferLanguageUR"
                                                        ng-click="chkTransferLanguageSelect('URDU')" /><label
                                                        for="TransferLanguageUR"><span>Urdu</span></label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="input-group">
                                        <div class="input-field">
                                            <ul class="input-radio-container">
                                                <li><input type="radio" class="DEWA-input-radio" name="calltransfertype"
                                                        id="CallIVRTransfer" ng-click="chkTransferDetails('IVR')"
                                                        checked /><label for="CallIVRTransfer"><span>IVR
                                                            Transfer</span></label></li>
                                                <li><input type="radio" class="DEWA-input-radio" name="calltransfertype"
                                                        id="CallSurveyTransfer"
                                                        ng-click="chkTransferDetails('SURVEY')" /><label
                                                        for="CallSurveyTransfer"><span>Survey Transfer</span></label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="input-group">

                                        <div class="label-field" style="width: 105px;">
                                            <label id="lblTransfer">{{lblTransfer}}:</label>
                                        </div>
                                        <div class="input-field">

                                            <div class="DEWA-singlselect" id="cboIVRNodeSelect">
                                                <input type="text" class="DEWA-input-single-select singleselectbtn"
                                                    placeholder="Select" readonly required />
                                                <i class="clearinput hide">X</i>

                                                <ul class="singlselect-dropdown dropdown-position-bottom"
                                                    id="cboIVRNodeList">
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="DEWA-btn-container">
                                <button class="DEWA-input-btn blue-btn" id="DEWA-Conference-btn"
                                    ng-click="btnTransferClick('CONFERENCE')">{{lang[widgetLanguage].LABELConference}}</button>
                                <button class="DEWA-input-btn dark-blue-btn" ng-click="btnTransferClick('TRANSFER')"
                                    id="DEWA-Transfer-btn">{{lang[widgetLanguage].LABELTransfer}}</button>
                            </div>
                            <div id="timerDiv" style="display:none;"><span id="time"></span></div>
                        </div>
                        <h4 class="DEWA-h4-head2">{{lang[widgetLanguage].LABELDisposition}}</h4>
                        <!--<div class="DEWA-form-container-body" id="dvDispositionBody" style="height: calc(100% - 233px);">-->
                        <div class="DEWA-form-container-body" id="dvDispositionBody"
                            style="height: calc(100% - 193px);">
                            <ul class="DEWA-form-container " style="height: calc(100% - 37px);">
                                <li>
                                    <div class="input-group">
                                        <div class="label-field">
                                            <label>{{lang[widgetLanguage].LABELCategory}}:</label>
                                        </div>
                                        <div class="input-field">

                                            <div class="DEWA-singlselect disabled" id="DEWA_category_dropdownselect">
                                                <input type="text" class="DEWA-input-single-select singleselectbtn"
                                                    readonly required />
                                                <i class="clearinput hide">X</i>

                                                <ul class="singlselect-dropdown" id="DEWA_category_dropdown">
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="input-group">
                                        <div class="label-field">
                                            <label>{{lang[widgetLanguage].LABELReasons}}:</label>
                                        </div>
                                        <div class="input-field">

                                            <div class="DEWA-singlselect" id="DEWA_reasons_dropdownselect">
                                                <input type="text" class="DEWA-input-single-select singleselectbtn"
                                                    placeholder="Select" readonly required />
                                                <i class="clearinput hide">X</i>

                                                <ul class="singlselect-dropdown dropdown-position-bottom"
                                                    id="DEWA_reasons_dropdown">
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="input-group">
                                        <div class="label-field">
                                            <label>{{lang[widgetLanguage].LABELOutcome}}:</label>
                                        </div>
                                        <div class="input-field">
                                            <!--<select class="DEWA-input-select" id="cboOutcome" ng-model="cboOutcome"> </select>-->
                                            <div class="DEWA-singlselect" id="DEWA_outcome_dropdownselect">
                                                <input type="text" class="DEWA-input-single-select singleselectbtn"
                                                    placeholder="Select" readonly required />
                                                <i class="clearinput hide">X</i>

                                                <ul class="singlselect-dropdown" id="DEWA_outcome_dropdown">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="height: calc(100% - 111px);">
                                    <div class="input-group notes-field" style="height: calc(100%);">
                                        <div class="label-field">
                                            <label>{{lang[widgetLanguage].LABELNotes}}</label>
                                        </div>
                                        <div class="input-field" style="height: calc(100% - 21px);">
                                            <textarea class="DEWA-input-textarea" id="txtRecentCallNotes"
                                                ng-model="txtRecentCallNotes" style="height: calc(100%);"></textarea>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="DEWA-btn-container">
                                <button class="DEWA-input-btn green-lite-btn" id="saveRecentCallNotes"
                                    ng-click="saveRecentCallNotes_Click(scope)">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="Dewa-widget-minimize-report-container active-minimize">
        <div class="widget-report-minimize" ng-click="btnMaximizeCustomPanel(this);">
            <img class="widget-channel-icon" src="{{widgetHostedURLDEWA}}widget-voice/images/voice-icon.png" alt=""
                title="" />
            <h3 class="widget-h3-head">{{getSIPNumber(objInteraction.originatingAddress)}}</h3>
            <div class="widget-notfication-icon">
                <img src="{{widgetHostedURLDEWA}}widget-voice/images/notify-bell-icon.png" alt="" title="" />
                <span class="widget-notfiy-icon-count">!</span>
                <div class="widget-notfiy-icon-msg notification-bottom">
                    <h4 class="attribute-head">{{getSIPNumber(objInteraction.originatingAddress)}}</h4>
                    <table class="widget-report-table-container widget-table1">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyCsNotificationFooter">
                            <tr ng-repeat="(key, value)  in objCsNotification">
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <img class="widget-max-btn" src="{{widgetHostedURLDEWA}}widget-voice/images/tab-maximize-icon.png" alt=""
                title="" />
        </div>
    </div>

    <div class="popup-body-container message-popup-container hide" style="z-index: 99999999">
        <div class="popup-container">
            <div class="popup-header">
                <h4 class="message-popup-head" id="message-popup-head">Already Exists</h4><i
                    class="close-pop-btn hide">X</i>
            </div>
            <div class="popup-body" style="min-height: 80px;">
                <p class="popupmessage" id="message-popup-content"></p>
            </div>
            <div class="popup-footer">
                <ul class="popup-btn-container">
                    <li class="pull-left"><button class="DEWA-input-btn green-btn " style="display: none"
                            id="btnConferenceMsgPopupYes" ng-click="btnConferenceMsgPopupYes_click()">Yes</button></li>
                    <li class="pull-right"><button class="DEWA-input-btn red-btn " style="display: none"
                            id="btnConferenceMsgPopupNo" ng-click="btnConferenceMsgPopupNo_click()">No</button></li>
                    <li class="pull-right"><button class="DEWA-input-btn green-btn " id="btnCancelMessagePopup"
                            ng-click="btnCancelMessagePopup_click()">Close</button></li>

                </ul>
            </div>
        </div>
    </div>

</div>